body {
	background-image: url("img/back.png");
	background-color: #cccccc;
	font-family: Calibri;
	line-height: 1.5;
	text-align: left;
}


a {
	text-decoration: none;
}

a:link, a:visited { 
color: #CF5C3F;
}
a:hover, a:active {
}

.main {
margin:0 auto;
width:75%;
clear: both;


}
.logoalign img{
width = auto;
height = auto;
margin: 2% ;
}
.logoalign nav{
background-color: #666;
height: 40px;
width: auto;
border-radius: 5 px;
-moz-border-radius: 5 px;
-webkit-border-radius: 5 px;
}

.logoalign nav ul{
list-style: none;
margin:0 auto;
}
.logoalign nav ul li {
float: left;
display:inLine;
}

.logoalign nav a:link, .logoalign nav a:visited {
color: #FFF;
display: inLine-block;
padding: 10px 20px;
height: 20px;

}
.logoalign nav a:hover,.logoalign nav a:active,
.logoalign nav .active a:link,.logoalign nav .active a:visited {
background-color: #CF5C3F;
text-shadow: none;
height: 42px
} 
.logoalign nav ul li a{
border-radius: 5px;
-moz-border-radius: 5 px;
-webkit-border-radius: 5 px; 
}

.heading {
text-align:center;
line-height:25px;
border-radius: 5px;
-moz-border-radius: 5 px;
-webkit-border-radius: 5 px;
}

.footerinfo {
text-align:center;
} 

.firstpost {
background-color : #FFF;
text-align:justify;
line-height:1.5;
width: 65%;
float: left;
padding: 2px 10px;
border-radius: 5px;
-moz-border-radius: 5 px;
-webkit-border-radius: 5 px;

}

.secondpost {
background-color : #FFF;
text-align:justify;
line-height:1.5;
width: 65%;
float:left;
margin-top: 3%;
padding: 2px 10px;
border-radius: 5px;
-moz-border-radius: 5 px;
-webkit-border-radius: 5 px;
}

.thirdpost {
background-color : #FFF;
text-align:justify;
line-height:1.5;
width: 65%;
float:left;
margin-top: 3%;
padding: 2px 10px;
border-radius: 5px;
-moz-border-radius: 5 px;
-webkit-border-radius: 5 px;
}

.top-sidebar {
width: 25%;
float: right;
padding: 2px 10px;
background-color: #FFF;
border-radius: 5px;
-moz-border-radius: 5 px;
-webkit-border-radius: 5 px;
margin-left: 5%}

.topbottom {
width: 25%;
float: right;
margin-top: 3%;
padding: 2px 10px;
background-color: #FFF;
border-radius: 5px;
-moz-border-radius: 5 px;
-webkit-border-radius: 5 px;
margin-left: 5%;

}

.bottom {
width: 25%;
float: right;
padding: 2px 10px;
background-color: #FFF;
border-radius: 5px;
-moz-border-radius: 5 px;
-webkit-border-radius: 5 px;
margin-top: 3%;
margin-left: 5%;

}

.mainfooter {
width:100%;
height:40px;
margin-top: 10%;
margin-bottom: 2%;
padding: 2px 10px;
float:left;
border-radius: 5px;
-moz-border-radius: 5 px;
-webkit-border-radius: 5 px;
background-color:#666;

}

.mainfooter p {
width: 92%;
margin-bottom: 5%;
}

.footerinfo {
color:#999;
font-style:italic;
}
